# Alias de reception (copiez en "virtual_aliases" puis redemarrez le conteneur)
# format : <adresse alias>   <destinataire(s) reel(s) separes par des virgules>
postmaster@example.local    jdupont@example.local
abuse@example.local         jdupont@example.local
contact@example.local       jdupont@example.local, mmartin@example.local
